.main{
margin-top: 189px;
padding-left: 120px;

.plane{

.plane-title{
    font-size: 32px;
    color: black;
    font-weight: 700;
}
.plane-cards{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    margin-top: 40px;



    .plane-card{

display: flex;
align-items: flex-start;
gap: 24px;
        width: 688px;
        height: 258px;
        border-radius: 16px;
       padding-left:  16px; 
       padding-top: 24px;
       padding-right:  16px; 
       padding-bottom: 24px;
       background: #FFFFFF;
       box-shadow: 0px 4px 16px rgba(158, 158, 158, 0.25);
       border-radius: 16px;


       .small-main{
        font-size: 16px;
        font-weight: 400;
        color: black;
        opacity: 0.5;

       }

       .main-card-title{
        font-weight: 500;
        color: black;
        font-size: 24px;
        line-height: 31px;
        margin-top: 4px;
       }
       .main-card-text{
        margin-top: 16px;
        font-size: 16px;
        color: black;
        opacity: 0.5;
        width: 322px;
        line-height: 20px;
       }
       .main-button{
        width: 140px;
        height: 52px;
        background-color: #2659C3;
        border-radius: 32px;
        border: none;
        margin-top: 16px;
        font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
       }
    }
}

}








}