.system{


    margin-top: 80px;






    .system-title{
        font-weight: 700;
font-size: 32px;
line-height: 37px;
/* identical to box height */


color: #000000;
    }




    .system-cards{
margin-top: 16px;
display: flex;
align-items: center;



.system-card{
    width: 342px;
height: 343px;
padding: 16px;

background: #FFFFFF;
box-shadow: 0px 4px 16px rgba(158, 158, 158, 0.25);
border-radius: 16px;




.system-card-title{


    font-weight: 400;
font-size: 24px;
line-height: 31px;
/* identical to box height */
margin-top: 24px;

color: #000000;
}

.small-system{
    margin-top: 8px;
    font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #000000;

opacity: 0.5;
}
}


    }
}